/* p {
    text-align: center;
    color: red;
}

#para1 {
    text-align: center;
    color: blue;
}

.center {
    text-align: center;
    color:green;
} */

body {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
}

h2 {
    color: aliceblue;
    text-align: left;
}

h3 {
    color: aliceblue;
}

titles {
    color: aliceblue;
    text-align: left;
}

links {
    color: aliceblue;
    text-align: left;
}

p {
    color: aliceblue;
}

.project img {
    width: 30%;
    margin: 10px;
    border: 2px solid aliceblue;
    display: block;
    margin: auto;
}
