/* p {
    text-align: center;
    color: red;
}

#para1 {
    text-align: center;
    color: blue;
}

.center {
    text-align: center;
    color:green;
} */

body {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
}

title {
    color: aliceblue;
    text-align: center;
}

.about {
    background: paleturquoise;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}
